In [1]:
import pandas as  pd
import numpy as   np

In [2]:
df = pd.read_csv("IMDB Dataset - IMDB Dataset.csv")

In [3]:
df.head(3)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive

In [4]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [5]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [6]:
df['review'] = df['review'].str.lower()

In [7]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [8]:
import re 
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [9]:
text = "<html><body><p> Movie </p><p> Click here to <a href = 'http:google.com'>download</a></p>"

In [10]:
remove_html_tags(text)

' Movie  Click here to download'

In [13]:
# now we remove tags from IMDB Datasets
df['review'] = df['review'].apply(remove_html_tags)

In [14]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [15]:
# if we want to remove urls form text then

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'',text)

In [ ]:
text1 = 'Check out my notebook https://www.deture.com/delta/note1234acc'

In [17]:
remove_url(text1)

'Check out my notebook '

In [18]:
import string
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
exclude = string.punctuation

In [20]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [21]:
text1 = 'String. With. Punctuation?'

In [22]:
remove_punc(text1)

'String With Punctuation'

In [23]:
df['review'] = df['review'].apply(remove_punc)

In [24]:
chat_words = {'u2':'you too', 'BBL':'Be Back Later', 'GAL':'Get A Life'}

In [25]:
chat_words

{'u2': 'you too', 'BBL': 'Be Back Later', 'GAL': 'Get A Life'}

In [31]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else :
            new_text.append(w)
    return "".join(new_text)

In [32]:
chat_conversation('BBL')

'Be Back Later'

In [33]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\yasha\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\yasha\anaconda3\lib\site-packages (from TextBlob) (3.9.1)
Requirement already satisfied: click in c:\users\yasha\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (8.1.7)
Requirement already satisfied: joblib in c:\users\yasha\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\yasha\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\yasha\anaconda3\lib\site-packages (from nltk>=3.9->TextBlob) (4.66.4)
Requirement already satisfied: colorama in c:\users\yasha\appdata\roaming\python\python312\site-packages (from click->nltk>=3.9->TextBlob) (0.4.6)

In [34]:
from textblob import TextBlob

In [35]:
incorrect_text = "ceertain comditins sevel ggenratins are modifeies in the same maner."
textBlb = TextBlob(incorrect_text)
textBlb.correct().string

'certain conditions seven ggenratins are modified in the same manner.'

In [36]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yasha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [37]:
STOPWORDS = set(stopwords.words('english'))

In [38]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [40]:
def remove_stopwords(text):
    new_text = []
    for word in text.split():
        if word in set(stopwords.words('english')):
            new_text.append('')
        else: 
            new_text.append(word) 
    x = new_text[:]
    new_text.clear()
    return "".join(x)
remove_stopwords('probably my all-time favourite movie, a story of selflessness, sacrifise and dedication to a noble cause.')

'probablyall-timefavouritemovie,storyselflessness,sacrifisededicationnoblecause.'